#nav {
    background-color: lightblue;
}

#footer {
    padding: 10px;
    background-color: lightblue;
    color: black;
}

.btn {
    margin-left: 3px;
    margin-right: 3px;
}

div.btn a {
    color: #fff;
}
